<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enfermedades</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>

<body>
  <header class="nav_header">
    <div class="nav_name">
      <p> IA Coffe Jahir Sánchez</p>
    </div>

    <div class="nav_menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <!--<li><a href="/enfermedades">Enfermedades</a></li>-->
        <li><a href="/predecir">Predecir</a></li>
        <!--<li><a href="/info">Mas información</a></li>-->
      </ul>
    </div>
  </header>

  <div class="section_enfermedad">
    <h2>Enfermedades en Hojas de Café</h2>

    <!-- Enfermedad Phoma -->
    <div class="enfermedad">
      <h3>Phoma en el Café:</h3>
      <p class="definicion">La enfermedad de Phoma en el café se caracteriza por la aparición de manchas
        circulares de color marrón oscuro a negro en las hojas. Estas manchas pueden variar en tamaño y forma, y a
        menudo tienen un centro más claro.</p>
      <p class="causas">Causas: La Phoma es causada por hongos del género Phoma y puede afectar negativamente la calidad
        y cantidad de la cosecha de café.</p>
      <p class="impacto">Impacto: Esta enfermedad puede debilitar las hojas de café y afectar la capacidad de la planta
        para realizar la fotosíntesis, lo que a su vez reduce la producción de granos y la calidad del café.</p>
    </div>

    <!-- Enfermedad Minador de la Hoja del Café -->
    <div class="enfermedad">
      <h3>Minador de la Hoja del Café:</h3>
      <p class="definicion">El minador de la hoja es una plaga que afecta a las hojas de café. Las larvas de
        esta plaga crean túneles o galerías en las hojas, lo que resulta en un patrón característico de "minado" en las
        hojas.</p>
      <p class="causas">Causas: El minador de la hoja es causado por la mosca del género Leucoptera. Sus larvas se
        alimentan de los tejidos de las hojas del café.</p>
      <p class="impacto">Impacto: El minador de la hoja puede debilitar las hojas y reducir la capacidad de la planta
        para realizar la fotosíntesis. Esto puede llevar a la caída prematura de las hojas y, en casos graves, afectar
        la producción de granos.</p>
    </div>

    <!-- Enfermedad Roya del Café -->
    <div class="enfermedad">
      <h3>Roya del Café (Hemileia vastatrix):</h3>
      <p class="definicion">La roya del café es una enfermedad devastadora que afecta a las hojas del café. Los
        síntomas incluyen manchas de color amarillo que se vuelven naranjas y luego rojas. Estas manchas pueden parecer
        polvo cuando se tocan debido a las esporas del hongo.</p>
      <p class="causas">Causas: La roya es causada por el hongo Hemileia vastatrix y puede propagarse fácilmente en
        condiciones de humedad.</p>
      <p class="impacto">Impacto: La roya debilita los árboles de café y reduce la producción de granos, además de
        afectar negativamente la calidad de los granos de café.</p>
    </div>

    <!-- Enfermedad Ojo de Pájaro -->
    <div class="enfermedad">
      <h3>Ojo de Pájaro (Cercospora spp.):</h3>
      <p class="definicion">Esta enfermedad se manifiesta como manchas circulares de color gris o marrón claro
        en las hojas de café. Las manchas suelen tener un centro más claro y un borde oscuro.</p>
      <p class="causas">Causas: El ojo de pájaro es causado por hongos del género Cercospora.</p>
      <p class="impacto">Impacto: Aunque generalmente no es tan devastadora como la roya, el ojo de pájaro puede
        debilitar las hojas de café y reducir la fotosíntesis, lo que afecta la salud de los árboles y la producción de
        granos.</p>
    </div>

    <!-- Enfermedad Mancha Angular -->
    <div class="enfermedad">
      <h3>Mancha Angular (Mycena citricolor):</h3>
      <p class="definicion">Esta enfermedad se caracteriza por la presencia de manchas angulares de color marrón
        claro en las hojas de café.</p>
      <p class="causas">Causas: La mancha angular es causada por hongos del género Mycena citricolor.</p>
      <p class="impacto">Impacto: Aunque generalmente no es tan destructiva como otras enfermedades, la mancha angular
        puede afectar negativamente la apariencia de las hojas y, en casos graves, reducir el rendimiento de la cosecha.
      </p>
    </div>

    <!-- Enfermedad Mancha de Sooty -->
    <div class="enfermedad">
      <h3>Mancha de Sooty (Fumagina):</h3>
      <p class="definicion">La mancha de sooty es una enfermedad que se manifiesta como una capa de hollín o
        sustancia negra en las hojas de café. Esta sustancia es causada por la presencia de hongos o bacterias que
        crecen en la melaza excretada por insectos como los pulgones.</p>
      <p class="causas">Causas: La mancha de sooty es causada por el crecimiento de hongos o bacterias que se alimentan
        de la melaza producida por insectos que se alimentan de la savia de las hojas.</p>
      <p class="impacto">Impacto: Aunque la enfermedad en sí misma no daña directamente las hojas de café, la presencia
        de la sustancia negra puede reducir la capacidad de las hojas para realizar la fotosíntesis si la capa es lo
        suficientemente gruesa. Además, puede afectar la calidad de los granos.</p>
    </div>
  </div>

  <footer>
    <p>&copy; 2023 Jahir Sánchez. Todos los derechos reservados.</p>
  </footer>
</body>

</html>