<!DOCTYPE html>
<html>
<head>
    <title>Predicción de Enfermedades en Hojas de Café</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>
<body>
    <h1>Predicción de Enfermedades en Hojas de Café</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <input type="submit" value="Predecir">
    </form>
    <div id="result">{{ result }}</div>
    <img id="image" src="" alt="Imagen cargada">
    <script src="../static/js/main.js"></script>
</body>
</html>