<!DOCTYPE html>
<html>

<head>
  <title>Predecir enfermedades</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>

<body>
  <header class="nav_header">
    <div class="nav_name">
      <p> IA Coffe Jahir Sánchez</p>
    </div>

    <div class="nav_menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <!--<li><a href="/enfermedades">Enfermedades</a></li>-->
        <li><a href="/predecir">Predecir</a></li>
        <!--<li><a href="/info">Mas información</a></li>-->
      </ul>
    </div>
  </header>

  <div class="predecir">
    <h1>Predicción de Enfermedades en Hojas de Café</h1>
    <form method="POST" enctype="multipart/form-data" action="/prediction"> <!-- Cambia la acción del formulario -->
      <input type="file" name="file" accept=".jpg, .jpeg, .png">
      <input type="submit" value="Predecir">
    </form>
    <div id="result">{{ result }}</div>
    <center><img id="image" src="" alt="Imagen cargada"></center>
  </div>

  <footer>
    <p>&copy; 2023 Jahir Sánchez. Todos los derechos reservados.</p>
  </footer>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>